body{
font-family:Arial;
background:#f4f4f4;
margin:0;
}

.topbar{
background:#ff7a00;
color:white;
padding:12px;
text-align:center;
}

.page{
display:none;
padding:20px;
}

#login{
display:block;
}

button{
background:#ff7a00;
color:white;
border:none;
padding:10px 15px;
margin:5px;
cursor:pointer;
border-radius:5px;
}

input,select{
padding:8px;
margin:5px;
width:200px;
}

table{
border-collapse:collapse;
width:80%;
margin-top:20px;
}

th,td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

.login-box{
width:300px;
margin:auto;
margin-top:120px;
background:white;
padding:30px;
border-radius:8px;
}
